@charset "utf-8";

html {
	font-family: Verdana, Arial, Helvetica;
}

.fieldLetrasPesquisa {
	height: 50px;
}

.oculto {
	visibility: hidden;
}

a:link {
	color: #FF6600;
}

a:visited {
	color: #FF6600;
}

a.linkLetras:link {
	margin: 3px;
	color: #999999;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	text-decoration: none;
	font-size: 20px;
}

a.linkLetras:visited {
	margin: 3px;
	color: #999999;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 20px;
	text-decoration: none;
}

a.linkLetras:hover {
	margin: 3px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 20px;
	color: #FF6600;
	text-decoration: underline;
}

a.linkLetras:active {
	margin: 3px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 20px;
	color: #FF6600;
	text-decoration: none;
}

div.a {
	margin-right: 10px;
}

.tabelaDetalhes {
	margin: 10px 10px 10px 10px;
}

.linhaAtributo {
	color: black;
}

.linhaDetalhes {
	background-color: #F8F8F8;
}

.tituloDetalhes {
	background-color: #EFEFEF;
}

.linkBreadCrumbsRight{
	padding-right:12px
	}

.rotuloDetalhes {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}

.escopoDetalhes {
	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
}

.dddtelefone {
	margin: 0px 4px 0px 0px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}

.botoesLista {
	width: 30px;
}

.selectMany {
	width: 300px;
}

.panelGrid {
	width: 100%;
}

.panelGridInputs {
	vertical-align: bottom;
}

.imagemLink {
	border: 0px;
}

.homeVia {
	color: #FF6600;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
}

.rotuloLogin {
	color: black;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.tituloAplicacao {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	text-align: right;
	background-color: #999999;
}

.letraPesquisa {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.tituloOperacao {
	height: 40px;
	color: #FF6600;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: italic;
	background-color: #EFEFEF;
}

.conteudoOperacao {
	vertical-align: top;
	height: 325px;
	background-color: #EFEFEF;
}

.comandosOperacao {
	height: 10px;
	background-color: #EFEFEF;
}

body {
	color: #000000;
}

corpo {
	height: 100%;
}

.botoes {
	background-color: #B15B3F;
	color: #FFFFFF;
	border: 0px outset;
	/*Define a borda do elemento, com um efeito de alto-relevo menor que o padr�o */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	margin: 0px 10px 0px 10px;
}

.botaoOpcoes { /*	padding: 0px 5px 0px 5px;
	margin: 0px 5px 0px 5px; */ /* size: 20px; */
	
}

.botaoRemover { /*	padding: 0px 5px 0px 5px;*/
	margin: 0px 20px 0px 0px;
	/* size: 20px; */
}

.botaoEsquerda { /*	padding: 0px 5px 0px 5px;*/
	margin: 0px 15px 0px 0px;
	/* size: 20px; */
}

.botaoDireita { /*	padding: 0px 5px 0px 5px; */
	margin: 0px 0px 0px 15px;
	/* size: 20px; */
}

.botaoCentro {
		margin: 0px 15px 0px 15px;
}

.botaoAtualizar { /*	padding: 0px 5px 0px 5px; */
	margin: 0px 0px 0px 20px;
	/* size: 20px; */
}

.botaoNulo {
	background-color: #EFEFEF;
	border: 0px outset;
	width: 0px;
	height: 0px;
}

.mensagemInfo {
	font-style: italic;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica;
	font-weight:bold;
	color: green;
}

.labelGeral {
	padding: 0px 0px 0px 20px;
	font-style: italic;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica;
}

.mensagemErro {
	font-style: italic;
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	color: red;
}

.error {
	font-style: italic;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	color: red;
}

.errors {
	font-style: italic;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica;
	color: red;
}

.errorsMessages {
	font-style: italic;
	font-size: 15px;
	font-family: Verdana, Arial, Helvetica;
	color: red;
	padding: 0px;
	margin: 0px;
}

.errorLogin {
	margin: 0 0 0 15px;
	font-style: italic;
	font-size: 15px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	color: #FFFFFF;
}

fieldset {
	margin: 5px 10px 0px 10px;
	vertical-align: bottom;
}

legend { /*Define a tamanho da fonte para a legenda do FieldSet */
	/*	color: blue; */ /*	color: #FF6600; */
	color: #999999;
	font-weight: bold;
	font-weight: bold;
	font-size: 12px
}

.rotulos {
	color: #999999;
	font-size: 10px;
	font-weight: bold;
}

.texto {
	color: #000000;
}

.texto3 {
	font-size: 14px;
}

.texto2 {
	font-size: 17px;
	color: red;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
}

.edit {
	/*Define a borda do elemento, com um efeito de baixo-relevo menor que o padr�o */
	/* border: 1px inset; */
	/*Especifica a cor cinza, como pano de fundo do elemento */
	/* background-color: #D3D3D3; */ /*
	border-color: #EFEFEF;
	border-style: ridge;
	border: 1px;	
	*/
	margin: 0px 10px 0px 0px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}

.inputLogin {
	margin: 3px 10px 3px 10px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	/* border: 0px; */
	height: 17px;
}

.labelMessageInput {
	float: left;
}

.exibir {
	margin: 0px 10px 0px 10px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
}

.comboBox {
	width: 140px;
	margin: 0px 10px 0px 0px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}

.comboBoxAjax {
	width: 114px;
	margin: 0px 3px 0px 0px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}

.comboBoxPesquisa {
	margin: 5px;
	padding: 3px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}

.panelGroup {
	bottom: 0px;
}

.listDados {
	margin: 20px;
	color: blue;
}

.botoesPaginacao {
	background-color: #EDB00A;
	width: 60px;
	border: 0px inset;
	margin: 5px;
}

.botoesOp {
	/*Especifica a cor chocolate, como pano de fundo do elemento */
	/*	background-color: #FF6600; */
	background-color: #CCCCCC;
	/*Especifica como preta a cor da fonte do elemento */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	/*Define a borda do elemento, com um efeito de alto-relevo menor que o padr�o */
	border: 1px;
	border-style:solid;	
	border-color:#CCCCCC;
	margin: 0px 5px 0px 5px;
	padding: 3px;
	width: 85px;
	/* Define a fonte do bot�o em negrito */
	font-weight: bold;
	font-size: 10px;
	font-weight: bold;
}

.botoesOp:hover {
	/*Especifica a cor chocolate, como pano de fundo do elemento */
	/*	background-color: #FF6600; */
	background-color: #EFEFEF;
	/*Especifica como preta a cor da fonte do elemento */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	/*Define a borda do elemento, com um efeito de alto-relevo menor que o padr�o */
	border: 1px;
	border-style:solid;
	border-color:#CCCCCC;	
	margin: 0px 5px 0px 5px;
	padding: 3px;
	width: 85px;
	/* Define a fonte do bot�o em negrito */
	font-weight: bold;
	font-size: 10px;
	font-weight: bold;
}

.mensagem {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	/*	font-style: bold; */
	font-weight: bold;
}

.tituloOp {
	color: #FF6600;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: italic;
	margin: 0px 0px 0px 10px;
}

.tituloAp {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	float: right;
	margin: 10px 10px 10px 0px;
}

/* Vindos de styles.css */
.dataTable {
	width: 100%;
	border: none;
}

.orders {
	border: none;
	/*	padding: 20px; */
}

.headerDetalhes {
	width: 12px;
	padding: 0px;
	margin: 0px
}

.footerDetalhes {
	width: 12px;
	padding: 0px;
	margin: 0px
}

.headerOpcoes {
	width: 12px;
	padding: 0px;
	margin: 0px
}

.footerOpcoes {
	width: 12px;
	padding: 0px;
	margin: 0px
}

.headerDetalhes {
	width: 200px;
	padding: 0px;
	margin: 0px
}

.footerAtributo {
	width: 200px;
	padding: 0px;
	margin: 0px
}

.ordersAtributo {
	padding: 0px;
	text-align: center;
	font-style: italic;
	font-size: 12px;
	height: 20px;
	/*	width:162px; */
	color: Snow;
	background: #999999;
}

.ordersHeader {
	text-align: center;
	font-style: italic;
	font-size: 12px;
	height: 20px;
	width: 162px;
	color: Snow;
	background: #999999;
}

.ordersFooter {
	text-align: center;
	font-style: italic;
	font-size: 12px;
	height: 20px;
	/*	width: 162px; */
	color: Snow;
	background: #999999;
}

.evenColumn {
	height: 25px;
	text-align: center;
	background: #999999;
}

.oddColumn {
	text-align: center;
	background: PowderBlue;
}

.evenRow {
	text-align: center;
	background: #EFEFEF;
}

.oddRow {
	height: 25px;
	text-align: center;
	background: #FFFFFF;
}

.homeTableTexto {
	width: 500px;
}

.linnhaTitulos {
	padding: 20px 0px 20px 0px;
	height: 20px;
}

.linhasDescricoes {
	padding: 20px 0px 20px 0px;
	height: 20px;
}

#panelDasMensagens {
	padding: 0px;
	margin: 0px;
}